.container-matches {
    background-color:  var(--old-pink-color);
    height: 100vh;
    overflow:scroll;
}

.matches {
    padding-top: 70px;   
}

.crush-card{
    margin: 10px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.bookshelf-display{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.owner-info {
    background-color: rgb(240, 213, 192, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 30px;
    color: var(--dark-blue-color)
}

.owner-info h2 {
    color:var(--coral-color);
    margin: 0;
    text-transform: capitalize;
}

.owner-info h5 {
    margin: 5px 0;
    color: var(--light-blue-color)
}

.owner-info img {
    border-radius: 90px;
    border: 0.5px solid rgb(9, 66, 117, 0.3);
    object-fit: cover;
    width: 75px;
    height: 75px;
    margin: 10px 25px 10px 0;
    position: left;
}

