
.carousel-root {
    padding:5px;
}

.carousel .slide {
    background-color:rgb(240, 213, 192, 0);
    margin-bottom:45px !important;
}

.carousel .slide img{
    width:25vw !important;
    margin: auto 10px;
    border-radius: 20px ;
}

@media screen and (max-width: 700px) {
    .carousel .slide img{
        width:45vw !important;
        border-radius: 20px ;
    }
}