.login-page{
    background-color: var(--coral-color);
    height: 100vh;
}

.login-container{
    text-align: center;
}

.login-container h1{
    color: var(--paper-color);
    font-size: 8vw;
    margin: 0 auto;
    padding-top:100px;
}

.login-form form{
    display: flex;
    flex-direction: column;
}

.login-form label{
    margin: 10px auto;
    color: var(--paper-color);
}

.login-form input{
    margin : 0 auto;
    border-radius: 25px;
    border: 1px solid var(--paper-color);
    padding:10px; 
    width: 200px;
    height: 5px;
}

@media screen and (min-width: 800px) {
    .login-container h1 {
        font-size: 5vw;
    }
}