.login-page{
    background-color: var(--coral-color);
    height: 100vh;
}
.login-container{
  text-align: center;
  padding-top: 50px;
}

.login-container h1{
  color: var(--paper-color);
  font-size: 8vw;
}

.login-form form{
    display: flex;
    flex-direction: column;
}

.login-form label{
    margin: 5px auto;
}

.login-form input{
    display: block;
    margin : 0 auto;
    width: 20vw;
}

@media screen and (min-width: 800px) {
    .login-container h1 {
        font-size: 5vw;
    }
}