.startup-greeting {
    margin-top:20vh;
}

.startup-flow {
    background-color: var(--dark-blue-color);
    color: var(--paper-color);
    padding-top:15px;
    height: 100vh;
    width:100vw;
    text-align:center;
    overflow:auto;
}

.search-container{
    display:flex;
    flex-direction:column;
    margin-top:10px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--paper-color);
    color:var(--dark-blue-color);
    width:80vw;
    height:95vh;
    overflow:auto;
}

.search-title{
    text-align:center;
    margin-top:10px;
    margin-bottom:5px;
}

.input-container {
	margin: auto
}

.input-container form{
    display:flex;
    flex-direction:row;
    flex-flow: row wrap;
    text-align:center;
    width:70vw;
}

.search-result{
    width:33%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:5px auto;
}

.search-result h3, h4{
    margin: 2px auto;
}

.search-result img{
    width:8vw;
}

.bookshelf-confirmation{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    color:white;
}

@media screen and (min-width: 800px) {
    
}