.nav-style {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.4);
    z-index: 1;
}

.nav-style a {
    color: var(--dark-blue-color);
    font-size: 0.7rem;
    font-weight: 400;
    white-space: pre;
}

.about-link {
    cursor: pointer;
}

.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 7px 0 2px;
}

  /* sidenav mobile */
.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: var(--dark-blue-color); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: var(--dark-blue-color) !important;
    padding: 10px 15px;
}
  
.sidenav a {
    display: block;
    transition: 0.3s;
    color: var(--paper-color);
    font-size: 0.9rem;
    font-weight: 400;
    white-space: pre;
    text-align: center;
    padding: 30px 0 40px 0;
}

.nav-style button {
    background-color: transparent;
    border: none;
    color: var(--paper-color);
    text-align: center;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
  
.sidenav .closebtn {
    position: absolute;
    top: -15px;
    right: 20px;
    font-size: 2rem;
    color: var(--paper-color)
}

.sidenav hr {
    background-color: var(--coral-color);
    height: 1px;
    border: none;
    margin: 0 80px 0 80px;
}

.logo-readr  {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-readr img {
    width: 90px;
}

.nav-right {
    display: none;
}

.nav-right-no-user {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.nav-right-no-user a {
    padding-right: 15px;
}

.nav-big-screen-no-user img {
    padding-top: 4px;
    width: 110px; 
} 

.selected {
    color: var(--coral-color) !important;
}

/* Dropdown  */
.profile-img {
    border-radius: 90px;
    border: 0.5px solid rgb(9, 66, 117, 0.3);
    object-fit: cover;
    width: 27px;
    height: 27px;
    cursor: pointer;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100px;
    z-index: 1;
    cursor: pointer;
    right: 0;
}
  
.dropdown-content a {
    color: var(--dark-blue-color);
    display: block;
    text-align: center;
    padding: 15px 0 !important;
}

.dropdown-content a:hover {background-color: var(--paper-color);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .profile-img {  border: 1px solid var(--coral-color);}


@media screen and (min-width: 800px) {
    .nav-style a {
        font-size: 0.8rem;
    }

    .nav-left{
        padding: 0 10px;
    }


    .nav-right {
        display: inherit;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-right a {
        padding-left: 60px;
    }

    .nav-right-no-user a {
        padding: 0 20px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin: 0 20px 0 40px;
    }

    .nav-mobile {
        display: none;
    }

    .nav-style button {
        color: var(--dark-blue-color);
        padding: 15px 0;
        margin: 0px;
        font-size: 0.8rem;
    }

    .nav-style button:hover {
        background-color: var(--paper-color);
    }


    .logo-readr img {
        width: 120px;
    }

}