.input-search-bar {
    border-radius: 25px;
    border: 1px solid var(--paper-color);
    padding: 10px; 
    width: 200px;
    height: 5px;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-blue-color);
}

.search-form input {
    color: var(--dark-blue-color) !important;
}

::placeholder { 
    color: var(--dark-blue-color);
    opacity: 1; 
}