.main-container-swipe{
    padding-top: 30px;
    background-color: var(--old-pink-color);
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.swipe-shelf{
    display:flex;
    justify-content: center;
    margin: 5px auto 10px auto ;
    width:400px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.buttons{
    display:flex;
    flex-direction:row;
    margin-top:15px;
    margin-bottom:10px;
}

.likey-dislikey{
    background-color: white;
    padding: 15px;
    border-radius:70px;
    margin: auto 20px;
}


.main-container-swipe h2{
    font-size:3rem;
    color:white;
   padding-bottom:100px;
   text-align:center;
   margin:auto 10px;
}


.giphy-embed{
    width: 80vw;
}

.its-a-match{
    background-color: var(--coral-color);
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color: var(--paper-color)

}

.its-a-match img {
    width: 50vw;
}

.its-a-match h1 {
    font-size: 2rem;
    opacity: 0;
    animation: fadein 2s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media screen and (min-width: 800px) {
    .giphy-embed{
        width: 480px;
        height: 189px;
    }

    .its-a-match img {
        width: 600px;
    }

    .its-a-match h1 {
        font-size: 6vw;
    }
}

@media screen and (max-width: 500px) {
    .main-container-swipe{
       overflow:scroll;
       padding-top:90px;
    }
  
    .swipe-shelf{
        margin: 20px auto ;
        width:90vw;
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        background-color: white;
    }

    .main-container-swipe h2{
        font-size:3rem;
        color:white;
       padding-bottom:200px;
       text-align:center;
       margin:auto 10px;
    }


