.main-container-swipe{
    padding-top: 70px;
    background-color: var(--old-pink-color);
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.swipe-shelf{
    margin: 5px auto 10px auto ;
    width:30vw;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.buttons{
    display:flex;
    flex-direction:row;
    margin-top:5px;
}

.likey-dislikey{
    background-color: white;
    padding: 15px;
    border-radius:70px;
    margin: auto 20px;
}

.giphy-embed{
    width: 80vw;
}

.its-a-match{
    background-color: var(--coral-color);
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color: var(--paper-color)
}

.its-a-match img {
    width: 50vw;
}

.its-a-match h1 {
    font-size: 2rem;
    opacity: 0;
    animation: fadein 2s forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media screen and (min-width: 800px) {
    .giphy-embed{
        width: 480px;
        height: 189px;
    }

    .its-a-match img {
        width: 600px;
    }

    .its-a-match h1 {
        font-size: 6vw;
    }
}


