.logout-link {
    position: absolute;
    right: 20px;
    top: 50px;
    cursor: pointer;
    color: var(--coral-color)
}

.main-container-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.first-container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    background-color: var(--paper-color);
    padding-bottom: 30px;
}

.first-container-profile img {
    border-radius: 90px;
    border: 0.5px solid rgb(9, 66, 117, 0.3);
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin: 100px 0 20px 0;
}

.first-container-profile p {
    font-size:1rem;
    font-weight:500;
    color: var(--dark-blue-color);
    font-weight: 600;
}

.first-container-profile span {
    font-size:1rem;
    font-weight:500;
    color: var(--coral-color);
}

.first-container-profile table {
    text-align: start;
    margin: 15px 20px;
    text-transform: capitalize;
}

.first-container-profile td{
    padding-left: 25px;
    padding-right: 25px;
}

.profile-button{
     margin: 70px auto;
 }

.second-container-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    margin: 60px 0;
}



@media screen and (min-width: 800px) {
    .profile-button{
        padding:10px auto;
    }

    .first-container-profile {
        width: 50vw;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 0;
    }

    .second-container-profile {
        width: 50vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .main-container-profile {
        flex-direction: row;
    }

    .first-container-profile img {
        margin: 125px 15px 20px 15px;
    }


}