
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    background-image: url('../../../assets/background-img-home_skew.jpg');
    background-size: cover;
}

.first-container img {
    margin-top: 50px;
    width: 80%;
}

.second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    background-color: var(--coral-color);
    text-align: center;
}

.main-container h1 {
    font-size: 8vw;
    color: var(--paper-color);
}


@media screen and (min-width: 800px) {
    .first-container {
        width: 50vw;
        height: 85vh;
    }

    .first-container img {
        margin-bottom: 100px;
    }

    .second-container {
        width: 50vw;
        height: 85vh;
    }

    .main-container h1 {
        font-size: 4vw;
    }

    .main-container {
        flex-direction: row;
    }
}