.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.lds-heart {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
  }

  .lds-heart div {
   
    width: 50px;
    height: 50px;
    background: var(--coral-color);
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .lds-heart div:after,
  .lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: var(--coral-color);
  }

  .lds-heart div:before {
    left: -38px;
    border-radius: 50% 0 0 50%;
  }

  .lds-heart div:after {
    top: -38px;
    border-radius: 50% 50% 0 0;
  }

  @keyframes lds-heart {
    0% {
      transform: scale(0.95);
    }
    5% {
      transform: scale(1.1);
    }
    39% {
      transform: scale(0.85);
    }
    45% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(0.9);
    }
  }
  