@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --dark-blue-color: #094275;
  --light-blue-color: #21619A;
  --coral-color: #DC7364; 
  --paper-color:  #F0D5C0;
  --old-pink-color: #D6A49D;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size:  80%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1,
h2 {
    font-family: 'Rozha One', serif;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.3rem;
}

a {
    text-decoration: none;
}

br {
  display: block;
  content: '';
  margin: 0;
}


@media screen and (min-width: 800px) {
  p{
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}