.sign-up-page{
    background-color: var(--dark-blue-color);
    height: 100vh;
}

.outercontainer{
    text-align: center;
    padding-top: 50px;
}

.outercontainer h1{
    color: var(--paper-color);
    font-size: 8vw;
}

.sign-up-form form{
    display: flex;
    flex-direction: column;
}

.sign-up-form label{
    margin: 5px auto;
}

.sign-up-form input{
    display: block;
    margin : 0 auto;
    width: 20vw;
}


@media screen and (min-width: 800px) {
    .outercontainer h1 {
        font-size: 5vw;
    }
}