.sign-up-page{
    background-color: var(--dark-blue-color);
}

.outercontainer{
    text-align: center;
}

.outercontainer h1{
    color: var(--paper-color);
    font-size: 8vw;
    margin: 0 auto;
    padding-top:100px;
}

.sign-up-form form{
    display: flex;
    flex-direction: column;
}

.sign-up-form label{
    margin: 10px auto;
    color: var(--paper-color);
}

.sign-up-form input{
    margin : 0 auto;
    border-radius: 25px;
    border: 1px solid #F0D5C0;
    padding:10px; 
    width: 200px;
    height: 5px;
}

#signup-details {
    color: var(--paper-color);
    margin-bottom: 5px;
}

.custom-select select{
    width:200px;
    margin-top:5px;
}



@media screen and (min-width: 800px) {
    .outercontainer h1 {
        font-size: 5vw;
    }
}