.sign-up-page{
    background-color: var(--dark-blue-color);
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outercontainer{
    text-align: center;
    height:100vh;
}

.outercontainer h1{
    color: var(--paper-color);
    font-size: 8vw;
    margin: 5px 0;
}

.sign-up-form form{
    display: flex;
    flex-direction: column;
}

.sign-up-form button{
    margin-left:40px;
}

.sign-up-form label{
    margin: 10px auto;
    color: var(--paper-color);
}

.sign-up-form-input{
    margin : 5px auto;
    border-radius: 25px;
    border: 1px solid var(--paper-color);
    padding: 10px; 
    width: 200px;
    height: 5px;
    color: var(--dark-blue-color)
}

.sign-up-form span {
    margin-top: 20px;
    color: rgb(255, 208, 0);
    font-size: 0.9rem
}

#signup-details {
    color: var(--paper-color);
    margin-bottom: 5px;
}

.custom-select select{
    width: 220px;
    border-radius: 25px;
    padding: 5px; 
    margin-top: 5px;
    border: 1px solid var(--paper-color);
    color: var(--dark-blue-color)
}

input[type='file' i] {
    color: var(--coral-color);
    margin-bottom:10px;
    margin-left:50px;
}


.closing-signup {
    color: var(--dark-blue-color);
}
  
.closing-signup:hover{
    color: var(--paper-color);

}

summary {
    outline: none;
}

details {
    width: 200px;
    margin: 0 auto;
    outline: 0;
    list-style: none;
}

details[open] {
    outline: 0;
}



@media screen and (min-width: 800px) {
    .outercontainer h1 {
        font-size: 5vw;
    }
}